@font-face{
    font-family: "GothanBold";
    src: url("../font/GothanBold.otf");
}
@font-face{
    font-family: "Gothan";
    src: url("../font/Gothan.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../font/RobotoBold.ttf");
}
*{
    transition: .3s all ease;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Gothan",sans-serif;
    overflow-x: hidden;
}
.container{
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
header{
    margin: 0;
    background: url("../img/back_header.png") no-repeat center;
    background-size: cover;
    color: white;
    padding-bottom: 110px ;
}
nav.navbar{
    padding:20px 0px;
    display: flex;
    text-align: center;
}
.logo{
    width: 80px;
    margin-right: 225px;
}
ul.menu{
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    width: 680px;
    justify-content: space-around;
}
ul.menu li{
    display: block;
    box-sizing: border-box;
}
ul.menu li:hover a::after{
    transition: .3s;
    background: #11749e;
}
header a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Myriad Pro",sans-serif;
    color: white;
    font-size: 20px;
}
header nav.navbar a::after{
    text-align: center;
    content: "";
    height: 5px;
    background: transparent;
    display: block;
    position: relative;
    bottom: -44px;
    width: 110%;
}
.social{
    width: 145px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
hr.header{
    width: 100%;
    background: white;
    border: 0px;
    height: 0.5px;
    margin: 0;
    padding: 0;
}
.title{
    font-family: "GothanBold",sans-serif;
    font-size: 154px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 275px;
}
.more{
    padding: 0;
    margin: 0;
    font-size: 25px;
    letter-spacing: 20.5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #11749e;
    margin-top:  35px;
}
.info{
    margin-top: 120px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: capitalize;
}
.scroll{
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px 0px;
    width: 65px;
    display: block;
    border: 1px solid white ;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}
#sc-first{
    background: #11749e;
    color: white;
    padding: 100px 0px;
}
.sc-title{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
}
.letter{
    color: #d7d7d7;
    font-size: 200px;
    font-family: "Roboto", sans-serif;
    z-index: 0;
    font-weight: 900;
}
#sc-first .letter{
    color: #3c8daf;
}
.sc-title h2{
    z-index: 2;
    margin: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
}
.blocks{
    margin-top: 70px;
    display: flex;
    justify-content:space-between;
}
.block{
    width: 260px;
}
.blocks .icon{
    padding: 50px 0;
    background: #2e85aa;
    width: 140px;
    border-radius: 100px;
    margin: 0 auto;
}
.bl-title{
    text-transform: uppercase;
    font-size: 18px;
}
.blocks p{
    font-size: 15px;
    line-height: 20px;
}
#news1{
    background: #222222;
    color: white;
    display: flex;
    position: relative;
}
#news1 .container{
    padding: 90px 0px;
    text-align: left;
}
#news1 .news_img{
    background: url("../img/news1.png") no-repeat center;
    background-size: cover;
    width: 50%;
    height: 450px;
    position: absolute;
    right: 0;
    top: 0;
}
.date{
    font-size: 13px;
    text-transform: capitalize;
}
.news_title{
    font-size: 25px;
    text-transform: uppercase;
    width: 475px;
    margin: 20px 0px 40px ;
}
#news1 p,#news2 p{
    font-size: 15px;
    width: 475px;
    line-height: 20px;
}
#news2{
    background: #f3f3f3;
    color: #222222;
    display: flex;
    position: relative;
}
#news2 .container{
    width: auto;
    padding: 90px 0px 90px 70px;
    text-align: left;
}
#news2 .news_img{
    background: url("../img/news2.png") no-repeat center;
    background-size: cover;
    width: 50%;
    height: 450px;
}
#blog{
    margin:90px 0px;
}
#blog .sc-title h2{
    color: #222222;
}
#blog h3{
    color: #2e85aa;
    text-transform: uppercase;
    margin:0px;
    font-size: 30px;
}
.blogs{
    margin-top: 80px;
    display: flex;
    justify-content: space-between ;
}
.blog{
    width: 270px;
}
.blog_title{
    margin: 45px 0px 25px;
    color: #2e85aa;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
#blog p{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
#quick_area{
    background: #2e85aa;
    color: white;
    font-weight: 300;
    padding: 110px 0px;
}
#quick_area .container{
    display: flex;
    justify-content: space-between;
}
#quick_area .area{
    display: flex;
    width: 550px;
    align-items: flex-start;
}
#quick_area .area_text{
    width: 450px;
    text-align: left;
    line-height: 20px;
    margin: 0;
}
#quick_area .icon{
    width: 70px;
    height: 70px;
    background: url("../img/Write2.png") no-repeat center;
    background-size: contain;
    margin-right: 30px;
}
#key_feature{
    padding: 100px 0px;
    background: url("../img/background_key.png") no-repeat center;
    background-size: cover;
}
#key_feature .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.key_feature_text{
    align-items: center;
    color: white;
    text-align: left;
    width: 480px;
}
.key_feature_text .title{
    font-family: "Gothan",sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.key_feature_text .more{
    font-family: "Gothan",sans-serif;
    font-size: 13px;
    padding: 0;
    letter-spacing: 0;
    color: white;
    font-weight: 300;
    margin: 40px 0px;
    text-transform: none;
    line-height: 20px;
}
.progress{
    background: #11749e;
    padding:  13px 20px;
    font-size: 15px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.progress:nth-child(0){
    width: 330px;
}
.progress:nth-child(1){
    width: 360px;
}
.progress:nth-child(2){
    width: 390px;
}
.phone{
    background: url("../img/phone.png") no-repeat center;
    background-size: contain;
    width: 320px;
    height: 650px;
}
#team {
    background: white;
    padding-top: 65px;
    padding-bottom: 100px;
}
#team h3{
    font-size: 30px;
    font-weight: 300;
}
#team .people{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    
}
#team  .man{
    width: 270px;
    position: relative;
    display: flex;
    justify-content: center;
}
#team .text{
    background: white;
    color: black;
    position: absolute;
    bottom: -45px;
    padding: 25px 35px;
}
#team .name{
    color: #11749e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
#team .job{
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 10px;
}
#contact{
    background: url("../img/contact.png") no-repeat center;
    background-size: cover;
    padding: 140px 0px 100px;
    color: white;
}
#contact .letter{
    color: rgba(255, 255, 255, 0.252);
    font-size: 248px;
}
form{
    margin-top: 75px;
}
form .main{
    display: flex;
    justify-content:space-between ;
}
input{
    padding:  15px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 15px;
    width: 330px;
    font-family: "Gothan",sans-serif;
    box-sizing: border-box;
}
.message{
    margin-top: 35px;
    padding:  15px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 15px;
    width: 100%;
    font-family: "Gothan",sans-serif;
    box-sizing: border-box;
}
input[type="submit"]{
    background: #11749e;
    padding: 20px 60px;
    font-size: 24px;
    text-transform: uppercase;
    border: 0px;
    margin-top: 45px;
    box-sizing: border-box;
    width: auto;
}
#map{
    background: url("../img/map.png") no-repeat center;
    background-size: cover;
    height: 340px;
}
footer{
    background: #222222;
    color: white;
    padding: 40px 0px;
    height: 20px;
}
footer span{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: 0px;
    
}